# Install CLI Tools
- name: Install CLI Tools
  apt:
    name:
      - curl
      - wget
      - git
      - vim
      - htop
      - build-essential
      - unzip
      - screen
      - tmux
      - ifstat
      - vnstat
      - nmap
      - net-tools
    state: present

- name: Check if rustup is already installed
  stat:
    path: /home/{{ username }}/.cargo/bin/rustup
  register: rustup_installed
  become: false

- name: Download rustup installer
  get_url:
    url: https://sh.rustup.rs
    dest: /tmp/rustup-init.sh
    mode: '0755'
  when: not rustup_installed.stat.exists
  become: false

- name: Install Rust via rustup with stable toolchain
  shell: |
    /tmp/rustup-init.sh -y --default-toolchain stable
  environment:
    CARGO_HOME: /home/{{ username }}/.cargo
    RUSTUP_HOME: /home/{{ username }}/.rustup
  when: not rustup_installed.stat.exists
  become: false

- name: Set ownership of Rust directories
  file:
    path: "{{ item }}"
    owner: "{{ username }}"
    group: "{{ username }}"
    recurse: yes
  loop:
    - /home/{{ username }}/.cargo
    - /home/{{ username }}/.rustup
  when: not rustup_installed.stat.exists

- name: Add Rust to PATH in .bashrc
  lineinfile:
    path: /home/{{ username }}/.bashrc
    line: 'export PATH="$HOME/.cargo/bin:$PATH"'
    create: yes
    state: present
  become: false

- name: Source Rust environment in .bashrc
  lineinfile:
    path: /home/{{ username }}/.bashrc
    line: 'source "$HOME/.cargo/env"'
    create: yes
    state: present
  become: false

- name: Clean up rustup installer
  file:
    path: /tmp/rustup-init.sh
    state: absent
  when: not rustup_installed.stat.exists

- name: Install Android SDK platform tools (ADB and Fastboot)
  apt:
    name:
      - android-tools-adb
      - android-tools-fastboot
    state: present
    update_cache: yes
  become: true

- name: Add user to plugdev group for Android device access
  user:
    name: "{{ username }}"
    groups: plugdev
    append: yes
  become: true

- name: Install astral-uv (Python developer environment for Canonical Testflinger)
  snap:
    name: astral-uv
    state: present
    classic: true
  become: true

- name: Check if dotrun is already installed
  stat:
    path: /usr/local/bin/dotrun
  register: dotrun_installed
  become: false

- name: Install dotrun (Canonical development tool)
  shell: |
    curl -sSL https://raw.githubusercontent.com/canonical/dotrun/main/scripts/install.sh | bash
  environment:
    HOME: /home/{{ username }}
  when: not dotrun_installed.stat.exists
  become: false

# Configure Git global settings
- name: Configure Git global settings
  shell: |
    git config --global user.name "{{ git_global_user_name }}"
    git config --global user.email "{{ git_global_user_email }}"
  become: false

# Clone dotfiles repository
- name: Clone dotfiles repository
  git:
    repo: https://github.com/gajeshbhat/dotfiles.git
    dest: /tmp/dotfiles
    force: yes
  become: false

# Copy .vimrc file
- name: Copy .vimrc file
  copy:
    src: /tmp/dotfiles/.vimrc
    dest: /home/{{ username }}/.vimrc
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0644'
  become: false

# Copy .vimrc.plug file
- name: Copy .vimrc.plug file
  copy:
    src: /tmp/dotfiles/.vimrc.plug
    dest: /home/{{ username }}/.vimrc.plug
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0644'
  become: false

# Download Vim plug
- name: Download Vim plug
  shell: |
    curl -fLo /home/{{ username }}/.vim/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim


# Allow .vim access to gajesh
- name: Allow .vim access to user
  shell: |
    chown -R {{ username }}:{{ username }} /home/{{ username }}/.vim
  become: true

# Install Vim plugins
- name: Install Vim plugins
  shell: |
    vim -c 'PlugInstall' -c 'qa!'
  become: false

# Copy .screenrc file
- name: Copy .screenrc file
  copy:
    src: /tmp/dotfiles/.screenrc
    dest: /home/{{ username }}/.screenrc
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0644'
  become: false

- name: Read temporary .bashrc file content
  slurp:
    src: /tmp/dotfiles/.bashrc
  register: temp_bashrc_content

- name: Ensure content from temp .bashrc is present in user's .bashrc
  blockinfile:
    path: /home/{{ username }}/.bashrc
    block: "{{ temp_bashrc_content.content | b64decode }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: Custom .bashrc additions"
  become: false


